*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}




html,body{
	height:100%;
	background: #F6F6F9;

}

section.main-feed{
	display: flex;
	height:100%;
}

.sidebar{
	background: #DEDEE5;
	padding:20px 20px;
	width:247px;

}

.sidebar .logo-sidebar img{
	max-width: 200px;
}


.feed{
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	padding:30px;
	width:calc(100% - 247px);
}

.menu-sidebar{
	text-align: left;
	display: inline-block;
}

.menu-sidebar h4{
	color: #454545;
}

.menu-sidebar a{
	display: block;
	margin-bottom:15px;
	color: #454545;
	text-decoration:none;
}

.menu-sidebar a:hover{
	font-weight: bold;
	color: #454545;
}

.feed-wraper{
	width:70%;
	padding:30px;
}


.feed-single-post{
	padding:30px 40px;
	border-radius:20px;
	margin-bottom: 20px;
	border-radius:10px;
	background-color: white;
}

.feed-single-post-content{margin:10px 0;}

.feed-single-post-content p{
	color: #555555;
	font-size: 15px;
}

.feed-single-post-content img{
	max-width: 100%;
	margin:20px 0;
}

.friends-request-feed{
	width:28%;
	margin-left: 2%;
	background-color: white;
	padding:30px;
	color:#454545;
	border-radius:10px;
}

.friend-request-single{
	display: flex;
		margin-bottom: 20px;
	padding:10px 0;
	border-bottom:1px solid #ccc;
}

.friend-request-single img{
	width:40px;
	height:40px;
	border-radius:50%;
}

.friend-request-single-info{
	padding:4px 10px;
}

.friend-request-single-info h3{
	font-size: 15px;
	color:#454545;
}

.friend-request-single-info a{
	font-size: 13px;
	color:#069;
}

.feed-single-post-author{
	display: flex;
	color:#454545;
}
.feed-single-post-author img{
	width:50px;
	height: 50px;
	border-radius:50%;
}

.img-single-post-author{
	padding:0 10px;
}


.feed-single-post-author h3{
	font-size: 17px;
	width:100%;
}

.feed-single-post-author p{
	font-size: 14px;
	opacity: 0.4;
	margin-top:3px;
}

.feed-form form{
	width:100%;
}

.feed-form textarea{
	width:100%;
	height:120px;
	border:1px solid #ccc; 
	padding:10px;
}

.feed-form input[type=submit]{
	width:150px;
	display: block;
	cursor: pointer;
	color:white;
	font-size: 15px;
	margin-bottom: 20px;
	height:40px;
	background-color: #069;
	border:0;
}


.editar-perfil{
	background-color: white;
	padding:20px;
	width: 100%;
}

.editar-perfil input[type=text],
.editar-perfil input[type=password]{
	width:100%;
	height:40px;
	padding-left: 10px;
	border:1px solid #ccc;
	margin-bottom: 10px;
}

.editar-perfil input[type=file]{
	display: block;
	margin:10px 0;
	border:2px dashed #ccc;
	width:100%;
	padding:10px;
}

.editar-perfil input[type=submit]{
	background-color:#2c2c69;
	width:120px;
	height:30px;
	border:0;
	color:white;
	cursor: pointer;
}