*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}


html,body{
	background-color: #F6F6F9;
	height:100%;
}

.sidebar{
	width:30%;
	height:100%;
	background-color: #EAEAF4;
}

.form-container-login{
	transform:translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 50%;
	max-width: 1100px;
}

.form-container-login{
	display: flex;
}

.logo-chamada-login{
	width:40%;
}

.form-login{
	background-color: white;
	width:60%;
	padding:30px;
	max-width: 500px;
}

.form-login input[type=text],
.form-login input[type=password]{
	width:100%;
	height:40px;
	padding-left: 10px;
	box-shadow: 0px 3px 1px #D3D8E067;
	border: 1px solid #EBEBEB;
	margin:10px 0;
}

.form-login input[type=submit]{
	width: 100%;
	height: 40px;
	color:white;
	cursor: pointer;
	background: #444294 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 1px #2B2962;
	border-radius: 10px;
}

.form-login a{
	margin-top:10px;
	border: 2px solid #444294;
	border-radius: 10px;
	display: block;
	width:100%;
	padding:4px 10px;
	text-align: center;
	text-decoration:none;
	color:#444294;
}